.wt-section {
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 96px;
    padding-bottom: calc(4*var(--wt-offset-top-unit, 24px));
    background-color: #fff;
    background-color: var(--wt-color-white, #fff)
}

.wt-section_bg_gray-light {
    background-color: #f4f4f4;
    background-color: var(--wt-color-grey-light, #f4f4f4)
}

.wt-section_bg_dark {
    background-color: #27282c;
    background-color: var(--wt-color-dark, #27282c)
}

.wt-section_bg_gray-dark {
    background-color: #323236;
    background-color: var(--wt-color-grey-dark, #323236)
}

.wt-hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: rgba(39, 40, 44, .2);
    background-color: var(--wt-color-dark-20, rgba(39, 40, 44, .2))
}

.wt-hr_theme_dark {
    background-color: hsla(0, 0%, 100%, .2);
    background-color: var(--wt-color-white-20, hsla(0, 0%, 100%, .2))
}

.wt-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;
    max-width: 1276px
}

@media screen and (max-width: 1276px) {
    .wt-container {
        padding-left: 22px;
        padding-right: 22px;
        max-width: 996px
    }
}

@media screen and (max-width: 1000px) {
    .wt-container {
        padding-left: 22px;
        padding-right: 22px;
        max-width: 100%
    }
}

@media screen and (max-width: 640px) {
    .wt-container {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 100%
    }
}

.wt-resizable-container {
    width: 100%;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%
}