body {
    font-family: Arial, sans-serif;
    background-color: #1c1c2e;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.service-grid {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.service-header {
    background-color: #e3e8f0;
    border-right: 1px solid #d3d3d3;
}

.service-item {
    border: 1px solid #e8e8e8;
    padding: 15px;
    vertical-align: top;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    color: #434854;
}

.service-category {
    font-weight: 700;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    color: #434854;
}

.service-item {
    background-color: #f9f9f9;
}

.service-item ul.item-list li {
    color: #434854;
}

.package-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.package-header .header-icon svg {
    width: 40px;
    height: auto;
}

.package-header .header-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.package-header .header-title>span {
    padding-left: 5px;
    font-size: 1.8rem;
    color: red;
}

.service-category>span {
    font-size: 1.8rem;
    color: red;
}

.package-header .header-price {
    font-size: 2rem;
    font-weight: 700;
}

.service-item p,
.service-category p {
    margin: 0;
}

a.choose-plan {
    display: block;
    background-color: #7bc21f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    min-width: 180px;
    margin: auto;
    text-decoration: none;
    text-align: center;
}

a.choose-plan:hover {
    background-color: #1775bb;
}